@use "sass:color";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

.modal-footer {
  justify-content: flex-start;
}

@include media-breakpoint-up(md) {
  body {
    background-color: color.scale($itFactory, $lightness: 80%);
  }
}

@include media-breakpoint-up(lg) {
  body {
    background-color: color.scale($itFactory, $lightness: 70%);
  }
}

// offcanvas
.offcanvas.offcanvas-start {
  border-right-style: dotted;
}
